<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <!-- custom meta tag include -->
    <meta name="description" content="Django A to Z explain in this site">
    <meta name="name" content = "Django Tutorial Site">
    <meta name="author" content="Hafizur Rahmman Omar">
    <meta name="keywords" content="HTML,HTML TAg,HTML Head,CSS,Python,Django,Java,JavaScript">
    <link rel="shortcut icon" href="demo.jpg" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>blog</title>
    
  </head>

  <body>

    <header>

      <nav>
        
        <h1> This is {{courseName|upper}} course<h1>

      </nav>

    </header>

    <main>

      <h2> Mentor: {{mentorName}}</h2>
      <h2> Totall Class: {{totallClass}}</h2>
      <h2> Course Duration: {{courseDuration}}</h2>

      <article>
        <h3></h3>
        <section>
          <aside></aside>
        </section>
      </article>
    </main>
    <footer></footer>

     <!-- Bootstrap Bundle with Popper -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>
